<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mb-4"> <!-- Agregando mb-4 para un margen inferior -->
      <h2 class="h4">Fondos</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Monto</th>
              <th>Categoría</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fondo of fondos">
              <td>{{ fondo.nombre }}</td>
              <td>{{ fondo.montoMinimo }}</td>
              <td>{{ fondo.categoria }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-4"> <!-- Agregando mb-4 para un margen inferior -->
        <h3>Crear Nuevo Fondo</h3>
        <p>Saldo inicial: {{ userBalance }}</p>
        <form #fondoForm="ngForm" (ngSubmit)="onCreateFondo(fondoForm.value)">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <select id="nombre" name="nombre" class="form-control" ngModel (change)="onFondoChange($event)">
              <option value="FPV_BTG_PACTUAL_RECAUDADORA">FPV_BTG_PACTUAL_RECAUDADORA</option>
              <option value="FPV_BTG_PACTUAL_ECOPETROL">FPV_BTG_PACTUAL_ECOPETROL</option>
              <option value="DEUDAPRIVADA">DEUDAPRIVADA</option>
              <option value="FDO-ACCIONES">FDO-ACCIONES</option>
              <option value="FPV_BTG_PACTUAL_DINAMICA">FPV_BTG_PACTUAL_DINAMICA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="montoMinimo">Monto:</label>
            <input id="montoMinimo" name="montoMinimo" type="number" class="form-control" ngModel [(ngModel)]="montoMinimo">
          </div>
          <div class="form-group">
            <label for="categoria">Categoría:</label>
            <input id="categoria" name="categoria" class="form-control" ngModel [(ngModel)]="categoria" readonly>
          </div>
          <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>
  </div>
</div>








